.subMenu {
  div {
    align-items: center;
    border-left: 1px solid white;
    padding: 0 20px;
    cursor: pointer;
  }
}

.authCard {
  border: 2px solid #919191;
  padding: 9px 10px 6px 27px;
  background-color: #fff;
  cursor: pointer;
}

.autchCardtitle {
  display: block;
  color: #484848;
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
}