.card {
  width: 220px;
  height: 300px;
  border: 2px solid #ddd;
  padding: 6px;


  h3 {
    color: black;
    font-size: 15px;
  }

  h6 {
    color: #7b7b7b;
    font-size: 15px;
  }

  img {
    border-radius: 10px;
    padding: 8px;
  }
}

.imageContainer {
  text-align: center;
  margin: 0 auto;
}