.title {
  h3 {
    font-size: 14px;
    color: rgb(37, 32, 32);
    text-align: left;
  }

  h1 {
    font-size: 20px;
    color: black;
    text-align: left;
  }

  h4 {
    text-align: right;
  }
}

.price {
  font-size: 25px;
  margin-top: 40px;
}